version: "3.9"

services:
    prowlarr:
        image: lscr.io/linuxserver/prowlarr:latest
        container_name: prowlarr
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=${TZ}
        volumes:
            - prowlarr:/config
        restart: unless-stopped
        networks:
            - traefik-public
        deploy:
            labels:
                - "traefik.enable=true"
                - "traefik.http.routers.prowlarr.rule=Host(`prowlarr.${BASE_DOMAIN}`)"
                - "traefik.http.routers.prowlarr.entrypoints=websecure"
                - "traefik.http.routers.prowlarr.tls.certresolver=dns"
                - "traefik.http.services.prowlarr.loadbalancer.server.port=9696"
                - homepage.group=Downloads
                - homepage.name=Prowlarr
                - homepage.icon=prowlarr.png
                - homepage.href=https://prowlarr.${BASE_DOMAIN}/
                - homepage.description=Indexer Manager

networks:
    traefik-public:
        external: true

volumes:
    prowlarr:
        driver: local
        driver_opts:
            type: "none"
            o: "bind"
            device: "/mnt/iscsi/media-apps/prowlarr"
