Host 192.168.* 10.*{% if swarm_env_vars.BASE_DOMAIN is defined %} *.{{ swarm_env_vars.BASE_DOMAIN }}{% endif %}{% if swarm_env_vars.SSH_EXTRA_HOSTS | default('') %} {{ swarm_env_vars.SSH_EXTRA_HOSTS }}{% endif %}
    StrictHostKeyChecking accept-new
    IdentityFile ~/.ssh/{{ swarm_env_vars.SSH_KEY_FILE | basename }}

Host *
    StrictHostKeyChecking accept-new
