version: "3.9"

services:
    homepage:
        image: ghcr.io/gethomepage/homepage:latest
        container_name: homepage
        user: "root"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
        configs:
            - source: homepage_settings
              target: /app/config/settings.yaml
            - source: homepage_widgets
              target: /app/config/widgets.yaml
            - source: homepage_bookmarks
              target: /app/config/bookmarks.yaml
            - source: homepage_services
              target: /app/config/services.yaml
            - source: homepage_docker
              target: /app/config/docker.yaml
            - source: homepage_custom_css
              target: /app/config/custom.css
        restart: unless-stopped
        networks:
            - traefik-public
        environment:
            - HOMEPAGE_ALLOWED_HOSTS=homepage.${BASE_DOMAIN}
        deploy:
            replicas: 1
            placement:
                constraints:
                    - node.role == manager
            labels:
                - "traefik.enable=true"
                - "traefik.http.routers.homepage.rule=Host(`homepage.${BASE_DOMAIN}`)"
                - "traefik.http.routers.homepage.entrypoints=websecure"
                - "traefik.http.routers.homepage.tls.certresolver=dns"
                - "traefik.http.services.homepage.loadbalancer.server.port=3000"

                - homepage.group=System
                - homepage.name=Homepage
                - homepage.icon=homepage.png
                - homepage.href=https://homepage.${BASE_DOMAIN}/
                - homepage.description=Dashboard

networks:
    traefik-public:
        external: true

configs:
    homepage_settings:
        file: ./config/settings.yaml
    homepage_widgets:
        file: ./config/widgets.yaml
    homepage_bookmarks:
        file: ./config/bookmarks.yaml
    homepage_services:
        file: ./config/services.yaml
    homepage_docker:
        file: ./config/docker.yaml
    homepage_custom_css:
        file: ./config/custom.css
