name: Lint and Test pipeline

on:
    pull_request:
        branches: [main]
    push:
        branches: [main]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    lint:
        name: Lint & Static Analysis
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  submodules: true

            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.9"

            - name: Install Poetry
              uses: abatilo/actions-poetry@v3
              with:
                  poetry-version: latest

            - name: Configure Poetry
              run: |
                  poetry config virtualenvs.create true --local
                  poetry config virtualenvs.in-project true --local

            - name: Cache Poetry dependencies
              uses: actions/cache@v3
              with:
                  path: .venv
                  key: poetry-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

            - name: Install Task
              uses: arduino/setup-task@v1
              with:
                  version: 3.x
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Install dependencies
              run: task install

            - name: Run linting
              run: task lint

            - name: Run static analysis
              run: task static-analysis
