name: Release

on:
    workflow_dispatch:

jobs:
    release:
        name: Semantic Release
        runs-on: ubuntu-latest
        needs: [lint, test]

        outputs:
            released: ${{ steps.release.outputs.released }}
            version: ${{ steps.release.outputs.version }}
            tag: ${{ steps.release.outputs.tag }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Run Semantic Release
              id: release
              uses: python-semantic-release/python-semantic-release@v10.3.1
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
